<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
    <title>CVE Info Lookup</title>
</head>
<body>
<nav class="container-fluid">
    <ul>
        <li><strong>CVE Info Tool</strong></li>
    </ul>
    <ul>
        <li><a href="#">Basic Search</a></li>
        <li><a href="#">Advanced Search</a></li>
        <li><a href="#">Score Prediction</a></li>
        <!-- <li><a href="#" role="button">Contact</a></li> -->
    </ul>
</nav>
<main class="container">
    <div class="grid">
        <section>
            <hgroup>
                <h2>Make your Search!</h2>
                <h3>Type a CVE ID and get information</h3>
            </hgroup>
            <form id="cveLookupForm" action="/search_cve" method="post">
                <input type="text" id="cve_id" name="cve_id" placeholder="Enter CVE ID (e.g., CVE-2022-0001)" aria-label="CVE ID" required>
                <button type="submit" onclick="">Lookup CVE</button>
            </form>
            <div id="cveInfo" style="margin-top: 20px;"></div>
        </section>
    </div>
</main>
<footer class="container">
    <small><a href="#">Privacy Policy</a> • <a href="#">Terms of Service</a></small>
</footer>
</body>
</html>